html {
    height: 100vh;
}

body {
    min-height: 100vh;
    height: 100vh;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased;
}

#wrapper {
    min-height: 100vh;
    background-color: #f0f0f0;
}

#header {
    padding: 20px;
}

#main {
    min-height: 100vh;
}

#content {
    min-height: 100vh;
    padding: 0px;
} 

#stock-table {
    margin: 0 20px;
}

#table-head {
    width: 100%;
    padding: 20px;
}

#sort-button-group {
    padding: 20px 0 0 20px;
}

#add-stock-container {
    width: 200px;
    margin: 0;
}

.mb-3 {
    margin-bottom: 0 !important;
}

#table-box {
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0,0,0,.20);
    margin: 20px;
    padding-bottom: 20px;
}

#sidenav {
    padding-top: 20px;
    background-color: #004056;
    color: #ffffff;
    min-height: 100vh;
}

#tradepro-logo {
    font-family: "Josefin Sans";
    text-align: center;
    padding-bottom: 30px;
}

#nav-items {
    padding: 0 40px 0;
    line-height: 2rem;
}

#user-logo {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 20px;
}

#deposit-modal {
    color: #151515;
}

#deposit-modal-content {
    border-radius: 0;
    border: 0px;
}

input[type=text] {
    width: 135px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


input[type=text]:focus {
    width: 25%;
}
