html {
    height: 100vh;
}

body {
    min-height: 100vh;
    height: 100vh;
    font-family: Roboto !important;
}

#wrapper {
    min-height: 100vh;
    background-color: #f0f0f0;
}

#header {
    padding: 20px;
}

#main {
    min-height: 100vh;
}

#content {
    min-height: 100vh;
} 

#stock-table {
    margin: 0 20px;
}

#table-head {
    padding: 20px 0 20px 60px;
}

#table-box {
    background-color: #ffffff;
    margin: 20px;
}

#sidenav {
    padding-top: 80px;
    background-color: #00518f;
    color: #ffffff;
    min-height: 100vh;
}

#nav-items {
    padding: 0 40px 0;
    line-height: 2rem;
}

#user-logo {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 20px;
}